<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pics</title>
</head>
<body>
    <img src="/pics/<%= data %>" alt="<%= data %>">
</body>
<style>

</style>
</html>